
__pycache__/tests.cpython-38.pyc
.ipynb_checkpoints/task07_rf_classifier-checkpoint.ipynb
.ipynb_checkpoints/task08_clustering-checkpoint.ipynb
.ipynb_checkpoints/task06_features-checkpoint.ipynb
.ipynb_checkpoints/task05_hw_classification-checkpoint.ipynb
.ipynb_checkpoints/12_logistic_regression-checkpoint.ipynb
.ipynb_checkpoints/09kagle forest-checkpoint.ipynb
.ipynb_checkpoints/08_test-checkpoint.ipynb
